@font-face {
    font-family: 'Aniron';
    src: url('Aniron.eot');
    src: url('Aniron.eot?#iefix') format('embedded-opentype'),
        url('Aniron.woff2') format('woff2'),
        url('Aniron.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

